// Breakpoints
$xs-breakpoint: 36.125rem;
$small-breakpoint: 40rem;
$tablet-breakpoint: 48em;
$desktop-breakpoint: 80em;

$light-pink: #FFCAD4;
$dark-blue: #28364D;
$light-grey: #ECECEC;
$alternate-light-grey: #f2f1f1;

$light-grayish-blue: #D8E2DC;
$light-peach: #FFE5D9;


$soft-rose: #F4ACB7;
$dark-pink: #CB769E;
$soft-plum: #9D8189;



$dark-grey: #BEBDC2;
$medium-pink: #FDB8B9;
$alternate-pink: #F1BBB9;
$light-green: #ADBCA5;

$light-blue: #88E2DC;
$error: #ff0000;



