@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.borrow-req {
    border: 1px solid $dark-blue;
    height: 23rem;
    width: 100%;
    border-radius: .625rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    // justify-content: flex-start;
    // align-items: center;

    &__title {
        padding: 0 1rem;
    }

    &__table {

    }

    &__header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .75rem;
        font-weight: 600;
        padding-top: 1rem;
    }

    &__row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid $light-pink;
        border-radius: .625rem;
        padding: 0.5rem;
        margin: 0.25rem;
        font-size: .75rem;
        flex-direction: row;
    }

    &__image {
        height: 5rem;
        // border: 1px solid $light-pink;
        border-radius: .625rem;
        margin: 0 0.25rem;
    }
}

// &__notifications {
//     border: 1px solid $dark-blue;
//     height: 23rem;
//     width: 100%;
//     border-radius: .625rem;
//     display: flex;
//     flex-direction: column;
//     padding: 1rem;
//     // justify-content: flex-start;
//     // align-items: center;
// }

// &__notification {
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     border: 1px solid $light-pink;
//     border-radius: .625rem;
//     padding: 0.5rem;
//     margin: 0.25rem;
//     font-size: .75rem;
//     flex-direction: row;
//     & img {
//         height: 5rem;
//         // border: 1px solid $light-pink;
//         border-radius: .625rem;
//         margin: 0 0.25rem;
//     }
// }
