@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.borrowed-items {
  padding: 2rem;

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  &__title {
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @include small {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    background-color: #fff;
    border: 5px solid;
    border-image: linear-gradient(135deg, #a0c4ff, #ffc8dd) 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
    text-decoration: none;

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    &--pickup {
      border: 5px solid #d4edda;
      // background-color: #e8f3ea;
    }

    &--soon {
      border: 5px solid #ffeeba;
      // background-color: #f8eed1;
    }

    &--today {
      border: 5px solid #f8d7da;
      // background-color: #fae8e9;
    }

    &--overdue {
      border: 5px solid #f5c6cb;
      background-color: $alternate-light-grey;
    }
  }

  &__image {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    margin-bottom: 1rem; 

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
    justify-content: space-between; 
  }

  &__name {
    font-size: 1.25rem;
    margin: 10px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
  
  &__duedate {
    text-align: center;
    font-weight: bold;
    border: 1px solid $light-grey;
    border-radius: 0.625rem;
    padding: 0.25rem;

    &--soon {
      background-color: #ffeeba;
    }

    &--today {
      background-color: #f8d7da;
    }

    &--overdue {
      background-color: #f5c6cb;
    }
  }

  &__pickup {
    text-align: center;
    font-weight: bold;
    border: 1px solid $light-green;
    border-radius: 0.625rem;
    padding: 0.25rem;
    margin-bottom: 0.25rem;

    &--pickup {
      background-color: #d4edda;
    }
  }

  &__cancel-button {
    border-radius: 3.125rem;
    padding: 0.5rem;
    background-color: white;
    color: $dark-blue;
    border: 1px solid $light-pink;
    font-size: 0.8rem;
    width: 11.5rem;
    font-weight: 600;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(244, 225, 225, 0.1); 
    transition: transform 0.1s ease, box-shadow 0.1s ease;

    &:hover {
        background-color: #F4ACB7;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
