@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.delete-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
