@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    background-color: $dark-blue;
    height: 6rem;
    // padding: 1rem;
    display: flex;
    justify-content: space-around;
    // align-items: center;

&__section {
    width: 33.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    border-left: 1px solid white;

    &:hover {
        // background-color: #F4ACB7;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

    &__icon {
        height: 2.5rem;
        background: none;
    border: none;
    // display: flex;
    // align-items: center;
    cursor: pointer;

    }
    

    }
