@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.items-list {
    background-color: white;
    color: $dark-blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0.5rem;
    // border: 2px solid $soft-plum;
    border-radius: .625rem;
    margin:1rem;
    // min-height: 100%;
 

    &__item {
        width: 30%;
        margin: 0.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center; 
        border: 2px solid $light-pink;
        border-radius: .3125rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1); 
        position: relative;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
        background-color: white;
        
        &::after {
            content: 'See item details';
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #f9ecefef; 
            color: $dark-blue;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: opacity 200ms ease;
        }

        &:hover::after {
            opacity: 0.8;
        }

        &:hover {
            border: 3px solid $light-green;
            transform: translateY(-3px); 
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 12px 18px rgba(0, 0, 0, 0.15);
            cursor: pointer;

            &__overlay {
                opacity: 1;
        }
        
    }

}

&__title {
    padding: 0.5rem;
}

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}