@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.legend {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  

    @include tablet {
        flex-direction: row;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    @include tablet {
        width: 100%;
    }

    &__title {
        font-size: 1.5rem;
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
      }


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }
    &__item {
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0.5rem;
        position: relative;

        @include tablet {
            padding: 0 0.5rem
        }

        .legend__color {
            position: absolute; 
            left: -10px; 
            top: 50%; 
            transform: translateY(-50%); 
            width: 1rem;
            height: 1rem;
            margin-left: 0.5rem; 
            z-index: 1; 
            border-radius: 0.25rem; 
            pointer-events: none;
        
            &--soon {
                background-color: #ffeeba8b;
            }
        
            &--today {
                background-color: #f8d7da87;
            }
        
            &--overdue {
                background-color: #f5c6cb87;
            }
        
            &--accepted {
                // background-color: #d4edda8a;
            }
        
            &--pending {
                // background: linear-gradient(135deg, #a0c4ff85, #ffc8dd88);
            }
        
            &--returned {
                // background: linear-gradient(135deg, #a0c4ff85, #ffc8dd88);
            }
        
            &--declined {
                // background: linear-gradient(135deg, #a0c4ff85, #ffc8dd88);
            }

            @include tablet {
                left: 6px; 
            }
        }
    }

    &__checkbox {
        margin-right: 2rem; 
    }

    &__input {
        @include tablet {
            margin: 0.5rem;
        }
    }
}
